<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<title>Quoc-Sang Phan</title>
<link rel="icon" type="image/png" href="{{site.baseurl}}/img/phan.png" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="Description" content="Homepage of Quoc-Sang Phan" />
<meta name="Keywords" content="Quoc-Sang Phan, Quoc Sang Phan, Phan Quoc Sang, Phan Quốc Sáng" />
<meta name="revisit-after" content="30 days" />
<meta name="robots" content="all" />
<meta http-equiv="Content-Language" content="en" />
<meta name="revisit-after" content="7 days" />
<meta name="robots" content="all" />
<meta name="msvalidate.01" content="B53C41DAA37EDDDC7F4954192225C54A" />
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-26786057-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';

    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Quoc-Sang Phan" />

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

   <link rel="stylesheet" href="/css/gists.css" type="text/css"/>

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />

   <!-- Typekit -->
   <script type="text/javascript" src="http://use.typekit.com/jpd0pfm.js"></script>
   <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

   <!-- mathjax -->
   <script type="text/javascript"
           src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>
</head>
<body>
<div id="outer">
    	<div id="top"></div>

	<div id="left">
	  <img style="width: 250px;" src="{{site.baseurl}}/img/dambri.jpg"/>
	</div> 

	<div class="site">
	  <div class="title">
	    <a href="/">Blog</a>
	    <a class="extra" href="{{site.baseurl}}/about.html">About me</a>
	  </div>
  
  	{{ content }}
  
	  <div class="footer">
	    <div class="contact">
	      <p>
	      Quoc-Sang Phan<br />
	      q.phan@qmul.ac.uk<br />
	      </p>
	    </div>
	    <div class="contact">
	      <p>
		<a href="http://www.andrew.cmu.edu/user/qsp/">http://www.andrew.cmu.edu/user/qsp/</a><br />
		<a href="http://twitter.com/qsphan/">twitter.com/qsphan</a>
	      </p>
	    </div>
	    <div class="rss">
		<a href="https://twitter.com/qsphan" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @qsphan</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
	    </div>
	  </div>
	</div>
 	<div id="right"> </div>
  </div>
<script type="text/javascript">
var sc_project=7426339; 
var sc_invisible=1; 
var sc_security="4d051697"; 
</script>
<script type="text/javascript"
src="http://www.statcounter.com/counter/counter_xhtml.js"></script>

</body>
</html>
